#comunidad {
    background: url('../assets/Background_comunidad.png') no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    min-height: 100vh;
}

.container-social {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.row-social {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    margin: 12vh 4vh;
    height: 700px;
    width: 400px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.logo-social {
    width: 60%;
}

.container-social h2 {
    font-size: 2.5rem;
    padding: 20px 10px;
}

.container-social p {
    font-size: 1.2rem;
}

button {
    position: relative;
    display: inline-block;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: 1.2rem;
}

button.btn-unirse {
    width: 12rem;
    height: auto;
}

button.btn-unirse .circle-c {
    transition: all .45s cubic-bezier(0.65, 0, 0.076,1);
    -webkit-transition: all .45s cubic-bezier(0.65, 0, 0.076,1);
    -moz-transition: all .45s cubic-bezier(0.65, 0, 0.076,1);
    -ms-transition: all .45s cubic-bezier(0.65, 0, 0.076,1);
    -o-transition: all .45s cubic-bezier(0.65, 0, 0.076,1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #003775;
    border-radius: 1.625rem;
    -webkit-border-radius: 1.625rem;
    -moz-border-radius: 1.625rem;
    -ms-border-radius: 1.625rem;
    -o-border-radius: 1.625rem;
}

button.btn-unirse .circle-c .icon {
    transition: all .45s cubic-bezier(0.65, 0, 0.076, 1);
    -webkit-transition: all .45s cubic-bezier(0.65, 0, 0.076, 1);
    -moz-transition: all .45s cubic-bezier(0.65, 0, 0.076, 1);
    -ms-transition: all .45s cubic-bezier(0.65, 0, 0.076, 1);
    -o-transition: all .45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.btn-unirse .circle-c .icon.arrow {
    transition: all .45s cubic-bezier(0.65, 0, 0.076, 1);
    -webkit-transition: all .45s cubic-bezier(0.65, 0, 0.076, 1);
    -moz-transition: all .45s cubic-bezier(0.65, 0, 0.076, 1);
    -ms-transition: all .45s cubic-bezier(0.65, 0, 0.076, 1);
    -o-transition: all .45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.btn-unirse .circle-c .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.btn-unirse .btn-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle-c {
    width: 100%;
}

button:hover .circle-c .icon.arrow {
    background-color: #fff;
    transform: translate(1rem, 0);
    -webkit-transform: translate(1rem, 0);
    -moz-transform: translate(1rem, 0);
    -ms-transform: translate(1rem, 0);
    -o-transform: translate(1rem, 0);
}

button:hover .btn-text {
    color: #fff;
}