#comunidad {
    background: url('../assets/Background_baul.png') no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    min-height: 100vh;
}

h1 {
    font-size: 100px;
}