@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#root {
  text-align: center;
}

.home {
  background: url(./assets/Background_logo.png) no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 100vh;
}

.logo {
  width: 60%;
  min-width: 420px;
  margin: 26vh 0 0 0;
}

.nav-home {
  font-size: 1.5rem;
  font-weight: 600;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10%;
}

ul li {
  cursor: pointer;
  color: white;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

li:hover {
  color: rgba(255, 255, 255, 0.726);
}