@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: url(./assets/Background_logo.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 80%;
  min-width: 320px;
  padding: 1.5em;
}

nav {
  font-size: 1.5rem;
  font-weight: 600;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10%;
}

ul a {
  color: white;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

ul a:hover {
  color: rgba(255, 255, 255, 0.726);
}